body {
    width: 1500px;
    background-color: black;
    margin: 15px auto;
    border: 1px solid black
}

header {
    background-color: #a00b38;
    text-align: center;
    text-shadow: 8px 8px 15px black;
    height: 10em;
    padding: 1em 3em;
    color: #f5e575;
    font-family: "Comic Sans MS", sans-serif;
}

a {
    color: #f5e575;
    font-family: "Comic Sans MS", sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.logo {
    height: 160px;
    border-radius: 60%;
    float: left;
}

.menu {
    margin: 0;
    overflow: hidden;
    background-color: #71082c;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

main {
    color: darkblue;
    height: 60%;
    width: 100%;
    background-color: antiquewhite;
    float: right;
}

aside {
    margin: 15px;
    width: 430px;
    float: left;
}

article {
    margin: 15px;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: #f5e575;
    min-height: 10em;
    padding: 1em 3em;
    background-color: #09236d;
}

.icons {
    height: 40px;
    width: 40px;
}

.right-align {
    float: right;
}

.page-name {
    color: #71082c;
    text-align: center;
    font-size: xx-large;
    font-family: "Calibri Light", sans-serif;
}

.gallery {
    width: 250px;
    height: 370px;
}

table, th, td {
    border: 1px solid black;
}

h3 {
    word-spacing: 15px;
}

h4 {
    text-align: center;
    font-size: x-large;
    font-family: Calibri, sans-serif;
    font-style: italic;
    color: #de2f22;
}

h5 {
    text-align: left;
    font-size: x-large;
    font-style: italic;
}

p {
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: x-large;
}